table {
    width: 100%;
    border-collapse: collapse;
}

tr, td {
    border: 1px solid black;
}

.program_services{
    width: 50%;
    padding: 10px;
}

.services{
    width: 50%;
    padding: 10px;
}