@font-face {
    font-family: 'PT Sans';
    src: url('/static/fonts/ptsans/ptsans.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'PT Sans Bold';
    src: url('/static/fonts/ptsans/ptsansbold.ttf');
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: 'PT Sans';
}

.base-header {
    background: #E04E39;
}

.text-header {
    font-size: 18px;
    padding-right: 20px;
    padding-left: 0px;
    vertical-align: middle;
}

.mfc-resurs {
    margin-top: 50px;
    margin-bottom: 50px;
}

.logo-mfc {
    float:left;
}

.mfc-resurs-lables {
    padding-left: 170px;
}

.mfc-resurs-lable-h {
    font-family: 'PT Sans Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 90px;
    color: #E04E39;
    padding-top: 0px;
    line-height: 110%;
}

.mfc-resurs-lable-filial {
    font-family: 'PT Sans';
    font-style: normal;
    font-size: 46px;
    color: #2C2A29;
    padding-top: 0px;
}

.link-tree a {
    text-decoration: none;
}