<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link type="text/css" href="{{url_for('static', filename='css/bootstrap.css')}}" rel="stylesheet">
    <link type="text/css" href="{{url_for('static', filename='css/base.css')}}" rel="stylesheet">
    {% block head %}

    {% endblock %}
</head>
<body>
    {% block header %}
    <header class="p-3 base-header">
        <div class="container">
          <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
              <li><a href="/index" class="nav-link text-white text-header">МФЦ Ресурс</a></li>
              <li><a href="#" class="nav-link text-white text-header">База знаний МФЦ</a></li>
              <li><a href="#" class="nav-link text-white text-header">Журналы</a></li>
              <li><a href="#" class="nav-link text-white text-header">Электронная очередь</a></li>
              <li><a href="/reports" class="nav-link text-white text-header">Отчёты</a></li>
            </ul>
          </div>
        </div>
      </header>
    {% endblock %}
    {% block content %}
    <div class="container-xxl">
      <div class="mfc-resurs">
        <img class="logo-mfc" src="{{url_for('static', filename='img/base/logo-resurs.png')}}" alt="logo">
        <div class="mfc-resurs-lables">
          <p class="mfc-resurs-lable-h">МФЦ Ресурс</p>
          <p class="mfc-resurs-lable-filial">Филиал АУ "МФЦ" в г. Семилуки</p>
      </div>
      </div>
    </div>
    {% endblock %}
    {% block footer %}
    <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
          <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">МФЦ Ресурс</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">База знаний МФЦ</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Электронная очередь</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Отчёты</a></li>
        </ul>
        <p class="text-center text-muted">2021 Филиал АУ "МФЦ" в г. Семилуки</p>
      </footer>
      {% endblock %}
<script src="{{url_for('static', filename='js/bootstrap.js')}}"></script>
</body>
</html>