{% extends 'base.html' %}

{% block hedaer %}
{{ super() }}

{% endblock %}
{% block content %}
{{ super() }}
<link type="text/css" href="{{url_for('static', filename='css/add_service.css')}}" rel="stylesheet">
<div class="container-xxl">
    <h1>Добавить программную услугу</h1>
    <form action="/reports/services/add_program_service", method="POST">
        <input class="form-control name-service" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" type="text", name="name-program-service", placeholder="Название программной услуги">
        <p>Выберете группу услуги:</p>
        <select class="form-select tag-select" multiple aria-label="multiple select example" name="tag-select">
            {% for tag in tags %}
                <option value="{{tag[0]}}">{{tag[1]}}</option>
            {% endfor %}
        </select>
        <button class="btn btn-primary" type="submit">Сохранить</button>
    </form>
</div>

{% endblock %}
{% block footer %}
{{ super() }}
{% endblock %}