{% extends 'base.html' %}

{% block hedaer %}
{{ super() }}

{% endblock %}
{% block content %}
{{ super() }}
<link type="text/css" href="{{url_for('static', filename='css/add_service.css')}}" rel="stylesheet">
<div class="container-xxl">
    <div>
        <a href="/reports">Отчёты</a>
        >
        <a href="/reports/settings">Панель администратора</a>
        >
        <a href="/reports/settings/services">Список услуг</a>
        >
        <a href="/reports/settings/services/add">Добавтиь услугу</a>
    </div>
    <h1>Добавить услугу</h1>
    <form action="/reports/services/add_service", method="POST">
        <input class="form-control name-service" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" type="text", name="service_name", placeholder="Название услуги">
        <p>Выберете группу услуги:</p>
        <select class="form-select group-select" multiple aria-label="multiple select example" name="group-select">
            {% for group in groups %}
                <option value="{{group[0]}}">{{group[1]}}</option>
            {% endfor %}
        </select>
        <button class="btn btn-primary" type="submit">Сохранить</button>
    </form>
</div>

{% endblock %}
{% block footer %}
{{ super() }}
{% endblock %}