{% extends 'base.html' %}

{% block hedaer %}
{{ super() }}

{% endblock %}

{% block content %}

<div class="container-xxl">
    
    <div>
        <a href="/reports">Отчёты</a>
        >
        <a href="/reports/settings">Панель администратора</a>
        >
        <a href="/reports/settings/program-services">Список программных услуг</a>
        >
        <a href="/reports/settings/program-services/{{service[0][0]}}">{{service[0][1]}}</a>
    </div>
    <h1>{{service[0][1]}}</h1>
    <h3>Теги:</h3>
    {% for tag in tags_service %}
        {{tag[1]}}<br>
    {% endfor %}
    <hr>
    Добавить тег:
    <form action="/reports/settings/program-services/{{service[0][0]}}" method="POST">
        <input type="hidden" name="service_id" value="{{service[0][0]}}">
        <input class="form-control" list="datalistOptions" name="add_tag_name" placeholder="Выберите тег">
                        <datalist id="datalistOptions">
                            {% for select_tag in select_tags %}
                                <option value="{{select_tag}}">
                            {% endfor %}
                        </datalist>
        <button class="btn btn-primary" type="submit">Добавить</button>
    </form>
</div>
{% endblock %}
{% block footer %}
{{ super() }}
{% endblock %}