{% extends 'base.html' %}

{% block hedaer %}
{{ super() }}

{% endblock %}

{% block content %}

<div class="container-xxl">
    <form action="/reports/settings/program-services/tags-services/add" method="POST">
        <input class="form-control name-service" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" type="text", name="tag_name", placeholder="Название тега">
        <button class="btn btn-primary" type="submit">Сохранить</button>
    </form>
</div>
</div>
{% endblock %}
{% block footer %}
{{ super() }}
{% endblock %}